/*

   CLEARFIX
   http://tachyons.io/docs/layout/clearfix/

*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after { content: " "; display: table!important; }
.cf:after { clear: both!important; }
.cf {       *zoom: 1!important; }

.cl { clear: left!important; }
.cr { clear: right!important; }
.cb { clear: both!important; }
.cn { clear: none!important; }

@media (--breakpoint-not-small) {
  .cl-ns { clear: left!important; }
  .cr-ns { clear: right!important; }
  .cb-ns { clear: both!important; }
  .cn-ns { clear: none!important; }
}

@media (--breakpoint-medium) {
  .cl-m { clear: left!important; }
  .cr-m { clear: right!important; }
  .cb-m { clear: both!important; }
  .cn-m { clear: none!important; }
}

@media (--breakpoint-large) {
  .cl-l { clear: left!important; }
  .cr-l { clear: right!important; }
  .cb-l { clear: both!important; }
  .cn-l { clear: none!important; }
}
